body {
  font-family: /*'Press Start 2P',*/ sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: lavender;
  }

.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-bottom: 5px solid black;
}

.page-header__item {
  flex: 0 1 100px;
}

.header-text {
  font-size: 34px;
  padding: 5px
}

.js-script {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.pokemon-list {
  list-style: none;
  padding: 0;
}

.name-button {
  background-color: gray;
  margin: 2px;
  font-family: sans-serif;
  transition-duration: 0.2s;
  padding: 5px;
  border-radius: 4px;
  border-bottom: 2px solid black;
}

.name-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
